.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #7d88c5;
  height: 8vh;
  padding-left: 5%;
}

.icons {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  cursor: pointer;
}

.MuiInputBase-input {
  width: max-content;
  padding-right: 60px;
}

.avatar-img {
  width: 45px;
  height: 45px;
  margin-top: 5px;
  margin-left: 15px;
  border-radius: 50%;
}

.login {
  background: none;
  cursor: pointer;
  color: black;
  background-color: #7d88c5;
  font-size: 12px;
  height: 35px;
  line-height: 5px;
  width: 70px;
  text-align: center;
  border: 1px solid rgb(218, 228, 194);
  margin-left: 10px;
  display: block;
}

.login:hover {  background-color: #8e98cc;
}

.welcome {
  color: rgb(98, 95, 95);
  padding-right: 6px;
}

.user-name {
  color: rgb(68, 64, 64);
}
